.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
# Outputフォルダは空にする
/Output/*
!/Output/.gitkeep
# posteriorとtraceplotフォルダは空にする
/posterior/*
!/posterior/.gitkeep
/traceplot/*
!/traceplot/.gitkeep
# rmarkdownの_cacheフォルダを無視する
_cache/
